# 03 - Tidy

In [1]:
import pandas as pd
import numpy as np

Data was copied into the data folder from Kaggle.

In [2]:
# Data Given from Kaggle
news = pd.read_csv("/data/thejustinh/Combined_News_DJIA.csv")
stocks = pd.read_csv("/data/thejustinh/DJIA_table.csv")

Tests below show that the data is tidy with our time frame of interest (2008-08-08 to 2016-07-01).

In [3]:
assert len(news) == len(stocks)
assert len(news.loc[(news['Date'] >= '2008-08-08') & (news['Date'] <= '2016-07-01')]) == len(news)
assert len(stocks.loc[(stocks['Date'] >= '2008-08-08') & (stocks['Date'] <= '2016-07-01')]) == len(stocks)

## Futures/Commodities Data for Crude Oil, Natural Gas, and Gold

Below are the datasets for crude oil, natural gas, and gold. As shown below, the datasets are fairly tidy already, however, the timeframe of these datasets are too large/wide compared to our news and stocks data. This time frame is what we must tidy.

In [4]:
oil = pd.read_csv("/data/thejustinh/Crude Oil.csv")
gas = pd.read_csv("/data/thejustinh/Natural Gas.csv")
gold = pd.read_csv("/data/thejustinh/Gold.csv")

print("\n********** CRUDE OIL: **********\n")
print(oil.head())
print(oil.tail())
print("\n********** Natural Gas: **********\n")
print(gas.head())
print(oil.tail())
print("\n********** Gold: **********\n")
print(gold.head())
print(oil.tail())

********** CRUDE OIL: **********

         Date   Open   High    Low  Settle  Change   Wave   Volume  \
0  2017-03-17  48.82  49.20  48.61   48.78    0.03  48.86  25897.0
1  2017-03-16  49.10  49.61  48.45   48.75   -0.11  48.89  58881.0
2  2017-03-15  48.51  49.09  48.17   48.86    1.14  48.63  68435.0
3  2017-03-14  48.37  48.79  47.10   47.72   -0.68  47.67  94135.0
4  2017-03-13  48.40  48.68  47.94   48.40   -0.09  48.35  49577.0

   Prev. Day Open Interest  EFP Volume  EFS Volume  Block Volume
0                  30617.0         NaN         NaN        5887.0
1                  34897.0         NaN         NaN        5482.0
2                  39668.0         NaN         NaN       11732.0
3                  52844.0         NaN         NaN        8319.0
4                  53374.0         NaN         NaN        2838.0
            Date   Open   High    Low  Settle  Change  Wave   Volume  \
2820  2006-02-09  62.68  63.73  62.38   62.62    0.07   NaN  27492.0
2821  2006-02-08  62.96  63.44  62.29   62.55   -0.54   NaN  27539.0
2822  2006-02-07  64.82  64.90  62.81   63.09   -2.02   NaN  29434.0
2823  2006-02-06  66.35  66.50  64.77   65.11   -0.26   NaN  20387.0
2824  2006-02-03  64.77  65.48  63.93   65.37     NaN   NaN  21966.0

      Prev. Day Open Interest  EFP Volume  EFS Volume  Block Volume
2820                  21976.0         0.0         0.0           0.0
2821                  13583.0         0.0         0.0           0.0
2822                  13611.0         0.0         0.0           0.0
2823                  10998.0         0.0         0.0           0.0
2824                  11070.0         0.0         0.0           0.0

********** Natural Gas: **********

         Date    Open    High     Low  Settle  Change    Wave  Volume  \
0  2017-03-17  1.5933  1.6078  1.5933  1.5989  0.0047  1.6026  1523.0
1  2017-03-16  1.5970  1.6031  1.5818  1.5942  0.0108  1.5922  1973.0
2  2017-03-15  1.6028  1.6085  1.5800  1.5834 -0.0001  1.5909  2386.0
3  2017-03-14  1.5860  1.5973  1.5644  1.5835  0.0028  1.5749  2357.0
4  2017-03-13  1.5809  1.5908  1.5749  1.5807 -0.0194  1.5832  1743.0

   Prev. Day Open Interest  EFP Volume  EFS Volume  Block Volume
0                   3250.0         NaN         NaN           NaN
1                   3182.0         NaN         NaN           NaN
2                   3357.0         NaN         NaN           NaN
3                   3824.0         NaN         NaN           NaN
4                   3876.0         NaN         NaN           NaN
            Date   Open   High    Low  Settle  Change  Wave   Volume  \
2820  2006-02-09  62.68  63.73  62.38   62.62    0.07   NaN  27492.0
2821  2006-02-08  62.96  63.44  62.29   62.55   -0.54   NaN  27539.0
2822  2006-02-07  64.82  64.90  62.81   63.09   -2.02   NaN  29434.0
2823  2006-02-06  66.35  66.50  64.77   65.11   -0.26   NaN  20387.0
2824  2006-02-03  64.77  65.48  63.93   65.37     NaN   NaN  21966.0

      Prev. Day Open Interest  EFP Volume  EFS Volume  Block Volume
2820                  21976.0         0.0         0.0           0.0
2821                  13583.0         0.0         0.0           0.0
2822                  13611.0         0.0         0.0           0.0
2823                  10998.0         0.0         0.0           0.0
2824                  11070.0         0.0         0.0           0.0

********** Gold: **********

         Date    Open    High     Low    Last  Change  Settle  Volume  \
0  2017-03-17  1227.1  1230.9  1227.1  1230.5     3.3  1229.8    26.0
1  2017-03-16  1222.2  1231.4  1222.2  1226.1    26.4  1226.5    47.0
2  2017-03-15  1198.2  1221.2  1197.7  1221.2     1.8  1200.1    36.0
3  2017-03-14  1203.1  1205.9  1196.8  1198.0     0.5  1201.9    22.0
4  2017-03-13  1206.2  1210.0  1202.3  1203.5     1.7  1202.4    35.0

   Previous Day Open Interest
0                        38.0
1                        24.0
2                        26.0
3                        31.0
4                        28.0
            Date   Open   High    Low  Settle  Change  Wave   Volume  \
2820  2006-02-09  62.68  63.73  62.38   62.62    0.07   NaN  27492.0
2821  2006-02-08  62.96  63.44  62.29   62.55   -0.54   NaN  27539.0
2822  2006-02-07  64.82  64.90  62.81   63.09   -2.02   NaN  29434.0
2823  2006-02-06  66.35  66.50  64.77   65.11   -0.26   NaN  20387.0
2824  2006-02-03  64.77  65.48  63.93   65.37     NaN   NaN  21966.0

      Prev. Day Open Interest  EFP Volume  EFS Volume  Block Volume
2820                  21976.0         0.0         0.0           0.0
2821                  13583.0         0.0         0.0           0.0
2822                  13611.0         0.0         0.0           0.0
2823                  10998.0         0.0         0.0           0.0
2824                  11070.0         0.0         0.0           0.0

## Using A Mask to Select Timeframe

For each date column, in our futures/commidities datasets, I used a mask to filter out our desired timeframe as shown below.

In [5]:
oil = oil.loc[(oil['Date'] >= '2008-08-08') & (oil['Date'] <= '2016-07-01')]
gas = gas.loc[(gas['Date'] >= '2008-08-08') & (gas['Date'] <= '2016-07-01')]
gold = gold.loc[(gold['Date'] >= '2008-08-08') & (gold['Date'] <= '2016-07-01')]

In [6]:
assert str(oil['Date'][:1]) == str(gas['Date'][:1])

## Selecting Columns of Interest

In [7]:
oil = oil[['Date', 'Open', 'Settle', 'Change', 'Volume']]
gas = gas[['Date', 'Open', 'Settle', 'Change', 'Volume']]
gold = gold[['Date', 'Open', 'Settle', 'Change', 'Volume']]
stocks = stocks[['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]

oil.columns = ['Date', 'Oil_Open', 'Oil_Settle', 'Oil_Change', 'Oil_Volume']
gas.columns = ['Date', 'Gas_Open', 'Gas_Settle', 'Gas_Change', 'Gas_Volume']
gold.columns = ['Date', 'Gold_Open', 'Gold_Settle', 'Gold_Change', 'Gold_Volume']

Creating a boolean column where a value is 1 if gas price change for the day is positive, 0 otherwise.

In [8]:
gas['Gas_Diff'] = gas['Gas_Settle'] - gas['Gas_Open']
status = []
for x in gas['Gas_Diff']:
    if x > 0:
        status.append(1)
    else:
        status.append(0)

In [9]:
assert len(status) == len(gas)

In [10]:
gas['Gas_Diff'] = status

Creating a boolean column where a value is 1 if Gold price change for the day is positive, 0 otherwise.

In [11]:
gold['Gold_Diff'] = gold['Gold_Settle'] - gold['Gold_Open']
status = []
for x in gold['Gold_Diff']:
    if x > 0:
        status.append(1)
    else:
        status.append(0)

In [12]:
assert len(status) == len(gold)

In [13]:
gold['Gold_Diff'] = status

Creating a boolean column where a value is 1 if Gold price change for the day is positive, 0 otherwise.

In [14]:
oil['Oil_Diff'] = oil['Oil_Settle'] - oil['Oil_Open']
status = []
for x in oil['Oil_Diff']:
    if x > 0:
        status.append(1)
    else:
        status.append(0)

In [15]:
assert len(status) == len(oil)

In [16]:
oil['Oil_Diff'] = status

## Combining all the Stock Quote datasets (not including News Dataset)

In [17]:
table = pd.merge(pd.merge(stocks,oil), pd.merge(gas, gold))
table.head()

,Date,Open,High,Low,Close,Volume,Oil_Open,Oil_Settle,Oil_Change,Oil_Volume,...,Gas_Open,Gas_Settle,Gas_Change,Gas_Volume,Gas_Diff,Gold_Open,Gold_Settle,Gold_Change,Gold_Volume,Gold_Diff
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,48.46,48.99,0.66,19932.0,...,1.4796,1.5135,0.0122,1547.0,1,1324.8,1339.0,18.4,210315.0,1
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,49.54,48.33,-1.55,34723.0,...,1.5109,1.5013,-0.0370,596.0,0,1321.0,1320.6,6.3,183612.0,0
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,48.23,49.88,2.03,48243.0,...,1.5240,1.5383,0.0184,3220.0,1,1313.9,1326.9,9.0,165531.0,1
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,46.73,47.85,1.52,48103.0,...,1.5057,1.5100,0.0333,486.0,1,1314.8,1315.3,7.2,20.0,1
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,47.63,46.33,-1.31,41059.0,...,1.5242,1.4767,-0.0483,1363.0,0,1330.0,1322.5,2.5,92.0,0

In [18]:
assert list(table.columns) == ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Oil_Open',
                         'Oil_Settle', 'Oil_Change', 'Oil_Volume', 'Oil_Diff', 'Gas_Open',
                         'Gas_Settle', 'Gas_Change', 'Gas_Volume', 'Gas_Diff', 'Gold_Open',
                         'Gold_Settle', 'Gold_Change', 'Gold_Volume', 'Gold_Diff']

In [19]:
table.to_csv('/data/thejustinh/TidyQuotes.csv')

## Combining New Stock Quote Table with News Data

In [20]:
table2 = pd.merge(table, news)
table2.head()

,Date,Open,High,Low,Close,Volume,Oil_Open,Oil_Settle,Oil_Change,Oil_Volume,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,48.46,48.99,0.66,19932.0,...,"The United States has placed Myanmar, Uzbekist...",S&amp;P revises European Union credit rating t...,India gets $1 billion loan from World Bank for...,U.S. sailors detained by Iran spoke too much u...,Mass fish kill in Vietnam solved as Taiwan ste...,Philippines president Rodrigo Duterte urges pe...,Spain arrests three Pakistanis accused of prom...,"Venezuela, where anger over food shortages is ...",A Hindu temple worker has been killed by three...,Ozone layer hole seems to be healing - US &amp...
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,49.54,48.33,-1.55,34723.0,...,Googles free wifi at Indian railway stations i...,Mounting evidence suggests 'hobbits' were wipe...,The men who carried out Tuesday's terror attac...,Calls to suspend Saudi Arabia from UN Human Ri...,More Than 100 Nobel Laureates Call Out Greenpe...,British pedophile sentenced to 85 years in US ...,"US permitted 1,200 offshore fracks in Gulf of ...",We will be swimming in ridicule - French beach...,UEFA says no minutes of silence for Istanbul v...,Law Enforcement Sources: Gun Used in Paris Ter...
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,48.23,49.88,2.03,48243.0,...,"Escape Tunnel, Dug by Hand, Is Found at Holoca...",The land under Beijing is sinking by as much a...,Car bomb and Anti-Islamic attack on Mosque in ...,Emaciated lions in Taiz Zoo are trapped in blo...,Rupert Murdoch describes Brexit as 'wonderful'...,More than 40 killed in Yemen suicide attacks,Google Found Disastrous Symantec and Norton Vu...,Extremist violence on the rise in Germany: Dom...,BBC News: Labour MPs pass Corbyn no-confidence...,Tiny New Zealand town with 'too many jobs' lau...
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,46.73,47.85,1.52,48103.0,...,"US, Canada and Mexico pledge 50% of power from...",There is increasing evidence that Australia is...,"Richard Branson, the founder of Virgin Group, ...","37,000-yr-old skull from Borneo reveals surpri...",Palestinians stone Western Wall worshipers; po...,Jean-Claude Juncker asks Farage: Why are you h...,"""Romanians for Remainians"" offering a new home...",Brexit: Gibraltar in talks with Scotland to st...,8 Suicide Bombers Strike Lebanon,Mexico's security forces routinely use 'sexual...
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,47.63,46.33,-1.31,41059.0,...,German lawyers to probe Erdogan over alleged w...,"Boris Johnson says the UK will continue to ""in...",Richard Branson is calling on the UK governmen...,Turkey 'sorry for downing Russian jet',Edward Snowden lawyer vows new push for pardon...,Brexit opinion poll reveals majority don't wan...,"Conservative MP Leave Campaigner: ""The leave c...","Economists predict UK recession, further weake...","New EU 'superstate plan by France, Germany: Cr...",Pakistani clerics declare transgender marriage...

In [21]:
table2.to_csv('/data/thejustinh/TidyData.csv')